# Welcome to this Dataset!

### We are going to clean some data from Rabies submissions from NY Public Health!

In [65]:
import pandas as pd

In [67]:
import os
os.getcwd()

'C:\\Users\\agunb\\Downloads'

In [69]:
#Load the CSV file
df = pd.read_csv("Rabies_NY_State_2007_2025.csv")

#Look at the first rows
print(df.head())

   Received Year  Received Month Report Date County Name  \
0           2008              10  10/01/2008       Essex
1           2010               6  06/01/2010      Orange
2           2017              12  12/01/2017   Schoharie
3           2024               3  03/01/2024       Wayne
4           2020               9  09/01/2020    Saratoga

  Animal Classification  Number of Samples  Positive Samples  \
0               Raccoon                  1                 0
1                   Cat                  4                 1
2                   Bat                  1                 0
3               Raccoon                  1                 1
4                   Cat                  2                 0

   Latitude Center Point  Longitude Center Point                     Geocode
0               44.21634               -73.59043  POINT (-73.59043 44.21634)
1               41.40219               -74.32410   POINT (-74.3241 41.40219)
2               42.66587               -74.30988  POINT (-74.30988 42.66587)
3               43.06169               -76.99171  POINT (-76.99171 43.06169)
4               43.01060               -73.84956   POINT (-73.84956 43.0106)

In [71]:
#Rename some columns
df=df.rename(columns={"County Name":"County","Animal Classification": "Animal Type", "Number of Samples":"Sample Size", "Report Date":"Date"})
print(df.columns)

Index(['Received Year', 'Received Month', 'Date', 'County', 'Animal Type',
       'Sample Size', 'Positive Samples', 'Latitude Center Point',
       'Longitude Center Point', 'Geocode'],
      dtype='object')

In [73]:
#Drop some columns
df= df.drop(columns=["Latitude Center Point", "Longitude Center Point", "Geocode", "Received Year","Received Month"])

In [75]:
#Convert Dates into proper format
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
print(df.head())

        Date     County Animal Type  Sample Size  Positive Samples
0 2008-10-01      Essex     Raccoon            1                 0
1 2010-06-01     Orange         Cat            4                 1
2 2017-12-01  Schoharie         Bat            1                 0
3 2024-03-01      Wayne     Raccoon            1                 1
4 2020-09-01   Saratoga         Cat            2                 0

In [77]:
#Export to Excel
df.to_excel("Rabies_NYState_clean.xlsx", index= False)